<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.11/vue.min.js"></script>
    <title>Document</title>
</head>
<body>
    

    <div id="app">

        id: <input type="text" v-model="id"> name: <input type="text" v-model="name">
        <button @click="add">添加</button>

        <hr>

        <div v-for="item in getList()" :key="item.id">
            <input type="checkbox"> {{item.id}} - {{item.name}}
        </div>

    </div>

    <script>

        var app = new Vue({

            el: "#app",

            data: {

                id: "",
                name: "",

                list: [
                    {id: 1, name: "关羽"},
                    {id: 2, name: '张飞'},
                    {id: 3, name: '赵云'},
                    {id: 4, name: '马超'},
                    {id: 5, name: '黄忠'}
                ]
            },

            methods: {

                add(){
                    // this.list.push({"id": this.id, "name": this.name});
                    this.list.unshift({"id": this.id, "name": this.name});
                    // this.id = this.name = null;
                },

                getList(){
                    console.log("here...........");
                    return this.list;
                }
            }
        });

    </script>

</body>
</html>